{% extends "habitat/base.html" %}

{% block content %}
{% load static %}
{% include 'habitat/imagediv.html' %}
<div class="container-sm">
    <div class="row">
        <div class="col">

            <figure class="text-center pt-4">
                <h1><strong>Explore Florida's diverse ecosystems</strong></h1>
                <h2>Learn about unique ecosystems and their residents</h2>
            </figure>
            <div class="row gy-3">
                {% for habitat in habitats %}
                <div class="col-sm">
                    <div class="card h-100 border-0">
                        <img src="{{ habitat.thumbnail }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ habitat.name }}</h5>
                            <p class="card-text pb-4">{{ habitat.description|truncatechars:70 }}</p>
                            <div class="position-absolute bottom-0 start-0">
                                <a href="{% url 'post_detail' habitat.pk %}" class="btn btn-dark">Explore</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}